html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    font-size: 62.5%;
}

body {
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #3c3b37;
  margin: 0;
  max-width: 600px;
}

.div {
    border-radius: 4px 4px 0 0;
    border-left: 1px solid #dcdacb;
    border-right: 1px solid #dcdacb;
    border-top: 1px solid #dcdacb;
    box-sizing: border-box;
    margin: 0;
    display: block;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    color: #0f7c90;
    background-color: transparent;
    min-width: auto;
    /* padding: 0; */
    /* position: relative; */
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    /* display: inline-flex; */
    min-width: 10rem;
    padding: 0 1.2rem;
    /* justify-content: center; */
    user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    /* height: 4rem; */
    font-weight: 700;
}

.hasChild > * {
    margin: 5px;
}

.sectionHeader {
    background-color: #fbfbf8;
    height: 53px;
    border: 1px solid #dcdacc;
    margin-top: -1px;
}

.sectionTitle {
    float: left;
}

.sectionTotalLectures {
    float: right
}

.sectionElementsBlock {
    border: 1px solid #dcdacc;
    margin-top: -1px;
}

.elementsContainer {
    margin: 15px;
}

.courseSectionsBlock {
    max-width: 600px;
    padding: 0px;
}

.preview {
    float: right;
    /* padding: 5px; */
}

.length {
    float: right;
    /* padding: 5px; */
}

.right-side-info {
    float: right;
    margin: 0px;
}

#contentHeader {
    max-width: 600px;
    max-height: 40px;
}

#expandCollapse {
    float: right
}

#headerInfo {
    max-width: 350px;
    /* max-height: 35px; */
    float: left;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
svg {
    display: inline;
    float: left;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}